.table thead th {
    position: relative;
}

.table thead th img {
    display: none;
    right: 10px;
    position: absolute;
    top: 17px;
    cursor: pointer
}

.table thead th:hover img {
    display: block;
}